.env
.idea/
.claude
Note.txt
examples/__pycache__
app/core/config/__pycache__/
app/schema/transcription/__pycache__/
app/schema/language/__pycache__/
app/schema/transcription/base/__pycache__/
app/exceptions/__pycache__/
app/exceptions/audio/__pycache__/
app/exceptions/transcription/__pycache__/
app/services/asr/__pycache__/
app/services/asr/nemo/__pycache__/
app/services/deployments/__pycache__/
app/utils/__pycache__/
app/utils/audio/__pycache__/
app/utils/language_detect/__pycache__/
app/utils/config_loader/__pycache__/
app/utils/token_counter/__pycache__/
app/utils/transcription/__pycache__/
.venv
